.home {
    color: #fff;
}

.login {
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(255,255,255,.75);
    padding: 20px;
    border-radius: .25rem;
}

.login-toggle:hover {
    cursor: pointer;
}